body{
    margin:0 0 0 0;
}
#nav{
    vertical-align: middle;
    color: white;
    height: 40px;    
    width: 100%; 
    line-height: 20px; 
    background: #eee;
    border-bottom: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
}
#nav-container{
    width:960px;
}

#btnLogin{
    margin: 3px 0 0 3px;    
    
    float: right;
    line-height: 30px;
    text-align: center;
    border: 1px solid #00aec3;
    background: #00cee6;
    box-shadow: 0px 1px 1px #ccc;
    -webkit-box-shadow: 0px 1px 1px #ccc;
    border-radius:4px;
    -moz-border-radius:4px;
    width:100px;
}
#btnLogin a{
    text-decoration: none;
    color: white;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
    
}
#btnLogin a div{
    width:100%;
    border-radius:4px;
    -moz-border-radius:4px;
    box-shadow: inset 0px 1px 1px rgba(255,255,255,0.4);
}
#btnSignup{
    margin: 3px 0 0 3px;    
    
    float: right;
    line-height: 30px;
    text-align: center;
    border: 1px solid #df9d00;
    background: #ffb400;
    -webkit-box-shadow: 0px 1px 1px #ccc;
    box-shadow: 0px 1px 1px #ccc;
    border-radius:4px;
    -moz-border-radius:4px;
    width:100px;
}
#btnSignup a{
    text-decoration: none;
    color: white;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
}
#btnSignup a div{
    width:100%;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.4);
    box-shadow: inset 0px 1px 1px rgba(255,255,255,0.4);
}
#content{
    width:960px;
    text-align: center;
}
#footer{
    color: white;
    height: 100px;
    margin-left:0px; 
    margin-bottom:0px; 
    margin-right:0px; 
    margin-top: 30%;
    width: 100%; 
    line-height: 20px; 
    background: #000;
}
