/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
    @font-face
    {
        font-family: mp-bold;
        src: url('mpb.otf'); /* IE9+ */
    }

    .divLogin {        
        font: 12px "arial";
        line-height: 34px;
        padding: 10px;
        border: 1px solid #DDD;
        border-radius: 8px;
        -webkit-box-shadow: 0 0 5px #EEE;
        box-shadow: 0 0 5px #EEE;    
    }	
    /* Index Page Start   */
    .right{
        text-align: right;
    }
    .center{
        text-align: center;
    }
        /* Index Page End */        
    #footer{
        margin-top:20px;
        height:200px; 
        background: #eee;
    }
    @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
        .eventThumb{
            visibility: hidden;
            height: 0;
        }
      }

    /* Index Page End    */
    
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}