/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
    @font-face
    {
        font-family: mp-bold;
        src: url('mpb.otf'); /* IE9+ */
    }
    .registerBG{
        background-color: #f1f1f1;
    }
    .circle{
        height:40px;
        width:40px;
        background-color: #ddd;
        text-align: center;
        font-size: 28px;
        font-weight: bold; 
                       
    }
    .boxes {        
        font: 12px "arial";
        line-height: 34px;
        padding: 10px;
        border: 1px solid #DDD;
        border-radius: 8px;
        -webkit-box-shadow: 0 0 5px #EEE;
        box-shadow: 0 0 5px #EEE;    
    }	
    .lBox{
        
       font: 12px "arial";
        line-height: 34px;
        border: 1px solid #DDD;
        border-radius: 8px;
        -webkit-box-shadow: 0 0 5px #EEE;
        box-shadow: 0 0 5px #EEE;  
    }
    .elBox{
        margin-top:-20px;
        padding:10px;
        border-top:0;
        border-bottom: 1px solid #DDD;
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
        
        
    }
    .hrEl{
        margin-left:-10px;
        margin-right:-10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    /* Index Page Start   */
    .right{
        text-align: right;
    }
    .center{
        text-align: center;
    }
        /* Index Page End */        
    #footer{
        margin-top:20px;
        height:200px; 
        background: #eee;
    }
    @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
        .eventThumb{
            visibility: hidden;
            height: 0;
        }
      }

    /* Index Page End    */
    
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}